p{
    font-size: 16px;
}

hr{
    border-color: #c3c3c3;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

/*
 * RtDc Form Styles
 */

form h4{
  margin-top: 0;
}

form hr{
    padding: 5px 0px;
}

.form-group label{
  margin: 0;
  margin-right: 2px;
}

.form-group input{
    font-size:1.1em;
    max-width: 60px;
    text-align: center;
    font-weight: bold;
}

.form-group select{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-left: 2px;
}

#synoPeriod{
  width: 80px;
}
#numPeriods{
  width: 60px;
}

.div-chkbx{
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #777;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

#chkbx{
    margin: 0px;
    margin-top:12px;
}

#rt-label, #dc-label, #error-label{
  font-size: 18px;
  font-weight: bold;
}

#error-wrapper{
  display: block;
  height: 160px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.1em;
}

/*
 * Buttons for transitioning between content within the iframe
 */

.content-buttons input{
    padding: 0px 20px;
    border: none;
    background-color: #fff;
    font-size: 18px;
    color: #337ab7;
}

.content-buttons input:hover{
    color: #333;
}

/*
 * Instruction wrapper
 */

#rtdc-help p i{
    display: block;
    padding: 4px 20px;
}

/*
 * Manual calculation table wrapper
 */

#rtdc-table table{
  margin:20px 0;
  border:8px solid #d2d2d2;
}

#rtdc-table tr{
  margin:0px;
  padding:0px;
}

#rtdc-table td{
  margin:0px;
  padding:0px 10px;
  border:1px solid #d2d2d2;
  color:#333;
}

/*
 * Manobs references wrapper
 */

.rtdc-refs p{
    height: 100%;
    background-color: #333;
}