.newsWrapper{
  float:left;
  width:493px;
  min-height:250px;
  margin:10px;
  margin-right:0px;
  border:1px solid #111;
  border-radius:5px;
}
.newsWrapper h4{
  margin:0px;
  padding:2px 5px;
}
.newsWrapper p{
  margin:5px 5px;
}
