/* -- My Jumbotron Styles -- */
.jumbotron{
  margin: 0;
  padding: 20px;
}

/* -- My Page Element Styles -- */
main{
  min-height: 90vh;
}

ul a{
  font-size: 1.1em;
}
ul a:hover{
  color:#23527c;
  text-decoration: none;
}

.float-right{
  display: inline-block;
  float: right;
  clear: both;
}

/* -- RtDc Form Styles -- */
#rtdc_form{
  padding: 20px;
  font-size: 1.1em;
}

form{
  color: #515151;
}

form h4{
  margin-top: 0;
}

#rtdc_form label{
  margin: 0;
  margin-right: 2px;
}

#rtdc_form input{
  max-width: 60px;
  text-align: center;
  font-weight: bold;
}

#rtdc_form select{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-left: 2px;
}
#synoPeriod{
  width: 80px;
}
#numPeriods{
  width: 59px;
}

.div-chkbx{
  width: 100%;
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  background-color: #777;
  border-radius: 5px;
}

#rt, #dc{
  font-size: 1.5em;
}

#error-label{
  font-size: 1.4em;
  font-weight: bold;
}

#errors{
  display: block;
  height: 160px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.1em;
}
/* RtDc Calculation Table */
.rtdc_help li{
  font-size: 1.2em;
}

.rtdc_table table{
  margin:20px auto;
  margin-bottom:10px;
  padding:5px;
  border:8px solid #d2d2d2;
}
.rtdc_table tr{
  margin:0px;
  padding:0px;
}
.rtdc_table td{
  margin:0px;
  padding:0px 10px;
  border:1px solid #d2d2d2;
  color:#333;
}