html, body, header, nav, main, footer, div, span, applet, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body{
  width:100%;
  height:100%;
  background-color:#333;
}

/* -- Page Head Fixed Navigation Bar -- */
.navMenu{
  float:left;
  position:fixed;
  width:inherit;
  height:50px;
  background-color:#111;
  box-shadow:0px 2px 10px 2px;
}
nav{
  width:1020px;
  margin:0px auto;
  line-height:50px;
}
nav a{
  padding:2px 0px;
  margin-right:10px;
  text-decoration:none;
  color:#d2d2d2;
  font-size:20px;
}

/* -- Page Content -- */
main{
  clear:both;
  width:1020px;
  min-height:800px;
  margin:0px auto;
  padding:10px 0px;
  padding-top:60px;
  background-color:#fff;
  box-shadow:0px 2px 10px 5px;
}
.contentWrap{
  width:960;
  min-height:100px;
  margin:20px auto;
  background-color:rgb(102,102,102);
  border:1px solid #111;
  box-shadow:0px 4px 10px 1px;
}
.contentWrap h3, .news h3{
  margin:0px;
  padding:5px;
  background-color:#1d7686;
  color:#1d1d1d;
  border-bottom:1px solid #111;
}
.contentWrap p, .contentWrap ul, .news p{
  margin:0px;
  padding:10px;
  background-color:rgb(102,102,102);
  color:#e2e2e2;
  font-size:16px;
  line-height:1.5;
}
.contentWrap ul{
  margin:0;
  padding:0px 50px;
}
.contentWrap .links{
  display:inline-block;
  width:465px;
  margin:0;
  padding:10px;
  padding-right:0px;
  background-color:rgb(102,102,102);
}
.contentWrap .links a{
  line-height:1.5;
  margin:0px;
  margin-left:10px;
  padding:0px;
  font-size:16px;
  text-decoration:none;
  font-weight:bold;
  color:#e2e2e2;
}
.contentWrap a{
  color:#e2e2e2;
  font-weight:bold;
}
.contentWrap a:hover, .contact a:hover{
  color:#111;
}

.hidden{
  display:none;
}
.visible{
  display:visible;
}

/* -- Contact Form -- */
.formWrapper{
  display:inline-block;
  width:inherit;
  min-height:200px;
}
.formContact{
  display:block;
  float:left;
  width:600px;
  min-height:200px;
  margin:10px;
  padding:10px;
  background-color:#d2d2d2;
  border:1px solid #333;
  border-radius:5px;
}
.formContact tr, .formContact td{
  margin:0px;
  padding:0px;
}
.formContact td p{
  margin:0px;
  padding:0px;
}
.formContact td input{
  line-height:18px;
  font-size:16px;
}
.formContact p{
  display:inline-block;
  background-color:rgba(255,255,255,0);
  color:#111;
  margin:5px 2px;
  padding:0px;
}
.formContact textarea{
  width:600px;
  height:250px;
  margin:5px 0px;
  padding:5px;
  resize:none;
  border:1px solid #111;
  font-size:16px;
}
.formContact button{
  float:right;
  margin:2px 0px;
  line-height:18px;
  font-size:16px;
}

/* -- Page Footer -- */

.pageFoot{
  width:inherit;
  min-height:60px;
  background-color:#111;
  box-shadow:0px -2px 10px 2px;
}
footer{
  width:1020px;
  margin:0 auto;
}
footer p{
  color:#d2d2d2;
  padding:5px 0px;;
}
