/* -- Form Style -- */
.formWrapper{
  display:inline-block;
  width:inherit;
  min-height:200px;
}
.formRtdc{
  display:inline-block;
  float:left;
  width:240px;
  min-height:200px;
  margin:10px;
  padding:5px;
  background-color:#d2d2d2;
  border:1px solid #333;
  border-radius:5px;
}
.formRtdc .formDiv{
  display:inline-block;
  width:230px;
  margin:2px 10px;
  padding:0px;
  line-height:20px;
}
.formRtdc .formDiv select{
  float:right;
  display:inline-block;
  margin:0px;
  padding:0px 5px;
  line-height:18px;
  font-size:16px;
  text-align:left;
}
.formRtdc .formDiv h4{
  margin:5px 0px;
  padding:0px;
  line-height:20px;
  font-size:18px;
}
.formRtdc .formDiv .periodWrap{
  margin:2px 5px;
  display:inherit;
}
.formRtdc .formDiv input{
  width:50px;
  line-height:18px;
  font-size:16px;
  text-align:center;
}
.formRtdc .chkbxWrap{
  min-height:50px;
  margin:5px 0px;
  background-color:#666;
  border:1px solid #111;
  border-radius:5px;
}
.formRtdc .chkbxWrap input{
  width:0px;
  height:35px;
  margin:5px 10px;
  margin-right:0px;
  padding:0px;
}
.formRtdc .chkbxWrap p{
  display:inline-block;
  width:190px;
  margin:0px 5px;
  padding:0px;
  background-color:rgba(255,255,255,0);
  color:#111;
}
.formRtdc .buttons{
  display:inline-block;
  float:right;
  width:80px;
  min-height:40px;
  margin:5px 0px;
  padding:0px;
}
.formRtdc .buttons button{
  float:right;
  margin:2px 0px;
  line-height:18px;
  font-size:16px;
}
.formRtdc hr{
  width:100%;
  margin:0px;
  padding:0px;
}

/* -- RtDc and Error Wrapper -- */
.rtdc{
  float:left;
  width:100px;
  min-height:40px;
  margin:5px;
  margin-left:0px;
}
.rtdc p{
  margin:0px 5px;
  margin-left:0px;
  padding:0px;
  font-size:18px;
  font-weight:bold;
  color:#111;
  background-color:rgba(255,255,255,0);
}

.errors{
  display:inline-block;
  width:500px;
  margin:10px;
  padding:0;
  background-color:#d2d2d2;
  border:1px solid #333;
  border-radius:5px;
}
.errors h3{
  background-color:rgba(255,255,255,0);
}
.errors p{
  min-height:18px;
  margin:5px;
  padding:0px;
  background-color:rgba(255,255,255,0);
  color:#111;
}

/* RtDc Calculation Table */
.rtdcTable{
  width:960px;
  min-height:100px;
}
.rtdcTable table{
  margin:20px auto;
  margin-bottom:10px;
  padding:5px;
  border:8px solid #d2d2d2;
}
.rtdcTable tr{
  margin:0px;
  padding:0px;
}
.rtdcTable td{
  margin:0px;
  padding:0px 10px;
  border:1px solid #d2d2d2;
  color:#d2d2d2;
}
