/* -- RtDc Form Styles -- */
.hidden{
    display: none;
}

form h4{
  margin-top: 0;
}

#rtdc_form label{
  margin: 0;
  margin-right: 2px;
}

#rtdc_form input{
    font-size:1.1em;
    max-width: 60px;
    text-align: center;
    font-weight: bold;
}

#rtdc_form select{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-left: 2px;
}
#synoPeriod{
  width: 80px;
}
#numPeriods{
  width: 60px;
}

.div-chkbx{
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #777;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

#chkbx{
    margin: 0px;
    margin-top:12px;
}

#rt, #dc{
  font-size: 1.2em;
}

#errors{
  display: block;
  height: 160px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.1em;
}

/* RtDc Calculation Table */

.rtdc_help li{
  font-size: 1.2em;
}

.rtdc_table table{
  margin:20px auto;
  margin-bottom:10px;
  padding:5px;
  border:8px solid #d2d2d2;
}
.rtdc_table tr{
  margin:0px;
  padding:0px;
}
.rtdc_table td{
  margin:0px;
  padding:0px 10px;
  border:1px solid #d2d2d2;
  color:#333;
}
